{% extends "base.html" %}
{% block title %}Basket{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">My basket</h1>
    <h3>Pre orders</h3>
    <div class="table-responsive table-striped table-bordered table-hover">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{item.product.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>
                        <button onclick="deletePreOrder({{item.id}})" class="btn btn-danger">Delete</button>
                        <button onclick="updateCount({{item.id}}, {{item.quantity}}, '{{item.product.name}}', {{item.product.in_stock}})" class="btn btn-warning">Update count</button>
                        <button onclick="payAndOrder({{item.id}}, '{{item.product.name}}', {{item.quantity}}, {{item.product.price}})" class="btn btn-success">Order</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" onclick="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="number" min="1" id="counter">
      </div>
      <div class="modal-footer">
        <button type="button" onclick="closeModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<!--import jquery ui-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function updateCount(orderId, quantity, productName, productStock) {
    $('#counter').val(quantity)
    $('#counter').attr('max', productStock + quantity)

    $('#exampleModalLabel').text('Update count for order: ' + productName+ "," + 'In stock: ' + productStock)
    
    $('#saveChanges').off('click').on('click', function() {
        let newCount = $('#counter').val()

        $.ajax({
            url: `/basket/update/${orderId}/${newCount}`,
            type: 'POST',
            success: function(response) {
                location.reload()
            },
            error: function(xhr, status, error) {
                alert(error)
            }
        })
    })
    
    $('#exampleModal').modal('toggle')
}


function deletePreOrder(orderId) {
    if (!confirm('Are you sure you want to delete this order?')) {
        return
    }
    $.ajax({
        url: `/basket/delete/${orderId}`,
        type: 'POST',
        success: function(response) {
            location.reload()
        },
        error: function(xhr, status, error) {
            alert(error)
        }
    })
}

function payAndOrder(orderId, productName, quantity, price) {
    let totalPrice = price * quantity
    if (!confirm(`Are you sure you want to order ${quantity} '${productName}' for $${totalPrice}`)) {
        return
    }
    $.ajax({
        url: '/order/submit',
        type: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        data: JSON.stringify({
            "order_id": orderId,
            "pay_now": true
        }),
        success: function(response) {
            alert('Order placed successfully')
            location.reload()
        },
        error: function(xhr, status, error) {
            alert(error)
        }
    })
}


function closeModal() {
    $('#exampleModal').modal('toggle')
}
</script>
{% endblock %}