{% extends "base.html" %}
{% block title %}Dogoz shop{% endblock %}
{% block content %}
  <!-- Hero Section -->
  <div class="bg-light py-5 text-center">
    <div class="container">
      <h1 class="display-4">Welcome to Our Shop</h1>
      <p class="lead">Find the best products at unbeatable prices!</p>
    </div>
  </div>

  <!-- Product Grid -->
  <div class="container my-5">
    <div class="row">
      {% for product in products %}
      <!-- Product Card -->
      <div class="col-md-4 mb-4">
        <div class="card">
          {% if product.image %}
          <img src="static/uploads/{{product.image}}" class="card-img-top" alt="Product 1">
          {% else %}
          <img src="https://placehold.co/600x400" class="card-img-top" alt="Default Image">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">
              {{product.description}}<br />
              <b>${{product.price}}</b>, 
              <span style="color:orangered">{{product.in_stock}}</span> in stock
            </p>
            {% if user.is_authenticated and not user.is_admin %}
            <button class="btn btn-primary" onclick="addToBasket('{{product.id}}')">Add to Basket</button>
            {% elif user.is_authenticated and user.is_admin %}
            <a href="{{ url_for('admin.edit_product', id=product.id) }}" class="btn btn-warning">Edit</a>
            {% endif %}  
          </div>
        </div>
      </div>
      {% else %}
      <div class="col-md-12">
        <div class="alert alert-info text-center" role="alert">
          No products available at the moment.
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block js %}
<script>
  function addToBasket(productId) {
    fetch(`/basket/add/${productId}/1`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      }
    })
    .then(response => {
      if (response.ok) {
        alert('Product added to basket!');
      } else {
        response.text().then(data => {
          alert(data);
        })
      }
    })
    .catch(error => console.error('Error:', error));
  }
</script>
{% endblock %}