{% extends "base.html" %}
{% block title %}Add product{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center">
<div class="card p-4 shadow" style="width: 100%; max-width: 100vw;">
  <h3 class="text-center mb-4">Add new product</h3>
  <form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter product name" required>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" step="0.01" min="0" class="form-control" id="price" name="price" placeholder="Enter price" required>
    </div>
    <div class="mb-3">
        <label for="in_stock" class="form-label">Count of items in stock</label>
        <input type="number" min="0" class="form-control" id="in_stock" name="in_stock" placeholder="Count of items in stock" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea  class="form-control" id="description" name="description" rows="5" placeholder="Enter description" required></textarea>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" accept="image/*" class="form-control" id="image" name="image">
    </div>
    <button type="submit" class="btn btn-primary w-100">Submit</button>
  </form>
</div>
</div>
{% endblock %}
