{% extends "base.html" %}
{% block title %}My orders{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">My orders</h1>
    <div class="table-responsive table-striped table-bordered table-hover">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Pay status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{order.product.name}}</td>
                    <td>{{order.quantity}}</td>
                    <td>
                        {% if order.is_paid %}
                        <span class="badge bg-success">Paid</span>
                        {% else %}
                        <button class="btn btn-primary">Pay</button>
                        {% endif %}
                    </td>
                    <td>
                        {% if not order.is_sent %}
                        <span class="text-danger">Waiting seller to send</span>
                        {% else %}
                            {% if order.is_delivered %}
                            <span class="badge bg-success">Confirmed</span>
                            {% else %}
                            <button onclick="confirmDelivery({{order.id}})"  class="btn btn-primary">Confirm delivery</button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function confirmDelivery(orderId) {
        fetch('/order/receive', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ "order_id": orderId })
        })
        .then(response => {
            if (response.ok) {
                return response.text().then(text => {
                    alert(text)
                    if (response.ok) {
                        location.reload()
                    }
                })
            }
        })
    }
</script>
{% endblock %}
