{% extends "base.html" %}
{% block title %}My orders{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">My orders</h1>
    <div class="table-responsive table-striped table-bordered table-hover">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}